@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap')

// Variables

// Fonts
$ff-primary: 'Poppins', sans-serif

// Font Weights
$fw-light: 300
$fw-regular: 400
$fw-medium: 500
$fw-semibold: 600
$fw-bold: 700

// Padding
$default-padding: 15px 30px

html
  font-family: $ff-primary
  height: 100vh

body
  height: 100%
  display: grid
  grid-template-columns: 375px auto
  grid-template-rows: 100px auto

header
  grid-column: 1 / span 2
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
  padding: $default-padding
  background: lightgrey

  h1
    font-size: 3rem
    font-weight: $fw-bold

.button-open-nav
  display: none
  width: 40px
  padding: 0
  font-size: 40px
  background: none
  border: none

.all-tasks
  display: flex
  flex-direction: column
  gap: 25px
  padding: $default-padding
  background-color: lightblue

  h2

    font-weight: $fw-bold
    font-size: 2.5rem
    padding-top: 15px

  ul
    display: flex
    flex-direction: column
    gap: 15px
    font-size: 2rem
    padding-left: 25px
    word-wrap: wrap

  ul:hover
    cursor: pointer

  form
    display: flex
    gap: 5px

  input
    border-radius: 10px
    border: 3px solid transparent
    text-indent: 5px
    font-size: 1.5rem
    width: 250px

  input:hover
    border: 3px solid black

  input:focus
    outline: none
    border: 3px solid black

  button
    background-color: transparent
    border: none
    font-size: 2rem

.todo-list
  display: flex
  flex-direction: column
  gap: 25px
  align-items: center
  padding: $default-padding
  background-color: purple

  .todo-header
    width: 100%
    display: flex
    flex-direction: column
    align-items: center
    justify-content: space-around

  h2
    font-weight: $fw-bold
    font-size: 4rem

  p
    font-size: 1.5rem

  .todo-body
    width: 100%
    display: flex
    flex-direction: column
    align-items: left
    gap: 15px
    border: 2px solid black

    .tasks
      display: flex
      flex-direction: column
      gap: 15px

      .task
        position: relative
        padding: $default-padding
        display: flex
        gap: 15px
        align-items: center

        font-size: 2rem

        input[type="checkbox"]
          /* Add if not using autoprefixer */
          -webkit-appearance: none
          /* Remove most all native input styles */
          appearance: none
          /* For iOS < 15 */
          background-color: white
          /* Not removed via appearance */
          margin: 0

          font: inherit
          color: currentColor
          width: 1.15em
          height: 1.15em
          border: 0.15em solid currentColor
          border-radius: 0.15em

          display: grid
          place-content: center

        input[type="checkbox"]::before
          content: ""
          width: 0.65em
          height: 0.65em
          clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%)
          transform: scale(0)
          transform-origin: bottom left
          transition: 120ms transform ease-in-out
          box-shadow: inset 1em 1em purple
          /* Windows High Contrast Mode */
          background-color: CanvasText

        input[type="checkbox"]:checked::before
          transform: scale(1)

        label
          display: inline-flex
          align-items: center
          position: relative

        label::after
          content: ""
          position: absolute
          left: 0
          right: 0
          left: 0em
          top: 50%
          height: 3px
          background: currentColor
          transform: scaleX(0)
          transform-origin: right
          transition: transform 150ms ease-in-out

        [type="checkbox"]:checked + label
          opacity: 0.5

        [type="checkbox"]:checked + label::after
          transform: scaleX(1)
          transform-origin: left

button:hover
  cursor: pointer

.active-list
  font-weight: $fw-semibold

.task-template-container
  display: none

@media (max-width: 796px)
  body
    display: flex
    flex-direction: column

  .button-open-nav
    display: block

  .all-tasks
    width: 100%
    display: none

  .todo-list
    height: 100%
